
body {
    margin: 0;
    padding: 0;
   
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 70px;
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #87818a;
    border-radius: 15px;
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
}

#datetime {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dashboard-name {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    /* color: #9662BB; */
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjusted for the navbar height */
    background-color: white;
}

.container-card {
  background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card-link {
    text-decoration: none; /* Remove default underline */
}

.card {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: box-shadow 0.3s ease; /* Add transition for smooth hover effect */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(128, 0, 0, 0.2); /* Green shadow on hover */
}

.card h2 {
    color: #9662BB;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.card img {
    max-width: 100%;
    border-radius: 15px;
}

#datetime {
    font-size: 18px;
    color: white;
    /* color: #9662BB; */
}