body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9662BB;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9662BB;
  }
  
  .input-group input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#9d5dd2d8 ;
  }
  ::placeholder{
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#9d5dd2d8 ;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  button:hover {
    background-color: #31688d;
  }
  