body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
}

h1 {
    text-align: center;
   
    color: rgb(134, 27, 134);
   
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #9662BB;
   
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
::placeholder{
    color:#9d5dd2d8 ;
   
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

input[type="date"],
input[type="time"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color:#9d5dd2d8 ;
   
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input[type="date"]:focus
{
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5); 
}
input[type="time"]:focus
{
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5); 
}
input[type="text"]:focus
{
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5); 
}
select:focus
{
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5); 
}

input[type="submit"] {
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    color: white;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
