body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right bottom, #78A7DD, #9662BB); */
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
    height: 100vh;
    /* background-color: white; */
    background-image: url("../assests/homepage_background1-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: 700;
    font-style: normal;
    margin-left: -31px
}
.navbar {
    /* background-color: white; */
    border-bottom: 2px solid #ddd;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
  }
  
  .navbar h2 {
    margin: 0;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
  }
form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    height: 60%;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.form-group:last-child {
    margin-right: 0;
}
.form-group label {
    margin-bottom: 5px;
    color: white;
    font-weight: 700;
}
.form-group input
 {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #9d5dd2d8;
    font-weight: 400;
}
.form-group select{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #9d5dd2d8;
    font-weight: 400;
    width: 391px;
}
input[type="text"]:focus,
select:focus,
input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}
::placeholder {
    color: #9d5dd2d8;
    font-weight: 400;
}
input[type="submit"] {
    color: #9d5dd2d8;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    font-weight: 700;
    /* background: linear-gradient(to right bottom, #78A7DD, #9662BB); */
    background-color: white;
}
input[type="submit"]:hover {
    /* background-color: #45a049; */
}
#submit-preloader,
#refresh-preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

#refresh-preloader img {
    width: 100px;
    border-radius: 50%;
}
#submit-preloader img{
    width: 100px;
    border-radius: 50%;
    margin-left: 153px;
    margin-top: -80px;
}

#submit-preloader div p {
    margin-left: -140px;
    padding-right: 100px;
    color: #9662BB;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 120px;
}
#refresh-preloader p {
    margin-left: -130px;
    margin-top: 250px;
    color: #9662BB;
    font-size: 1.2rem;
    font-weight: 800;
}
/* iphone14 pro max */
@media only screen and (width: 430px){
   form{
    width: 80%;
    height: 46%;
   }
   .form-group input{
    width: 100%;
   }
   #refresh-preloader p{
    margin-top: -100px;
    margin-left: -120px;
   }
   #refresh-preloader img {
    margin-top: -340px;
    margin-left: 38px;
   }
   #submit-preloader img{
    margin-top: -340px;
    margin-left: 237px;
   }
   #submit-preloader div p{
    margin-top: -105px;
    margin-left: -143px;
    height: 87px;
    width: 290px; 
   }
   .form-group select{
  width: 330px;
   }
  }
  /* pixel 7 */
  @media only screen and (width: 412px){
    form{
        width: 80%;
        height: 46%;
       }
       .form-group input{
        width: 100%;
       }
       h1{
        margin-left: 10px;
       }
       #refresh-preloader p{
        margin-top: -100px;
        margin-left: -120px;
       }
       #refresh-preloader img {
        margin-top: -340px;
        margin-left: 38px;
       }
       #submit-preloader img{
        margin-top: -340px;
        margin-left: 237px;
       }
       #submit-preloader div p{
        margin-top: -105px;
        margin-left: -143px;
        height: 87px;
        width: 290px; 
       }
       .form-group select{
        width: 330px;
       }
  }