body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
 
}

.navbar {
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    border-radius: 15px;
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);

}

#datetime {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dashboard-name {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: white;
    background-image: url("../assests/homepage_background1-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
    /* background-image: url(/assests/background.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat; */

}

.container-card {
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    border-radius: 50px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    border-radius: 25px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -11px;
    justify-content: space-around;
}

.cards-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card-link {
    text-decoration: none;
}

.card {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 77%;
    height: 77%;
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease-in-out;
}



.card h2 {
    margin-top: 15px;
    color: #9662BB;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.card img {
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 15px;
    height: 70%;
    width: 80%;
}

.card:hover {
    transform: scale(1.05);
}

.card .popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .popup {
    display: block;
}

#datetime {
font-weight: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

/* Page Loader */
#page-loader {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#page-loader img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}


#loader-text {

    font-size: 20px;
    font-weight: bold;
    color: #9662BB;
    margin-left: -60px;
    margin-top: -440px;
}

 
@media only screen and (width: 412px) {
    .navbar {
        height: 80px;
        padding: 5px 15px; 
        display: flex;
        flex-direction: column;
        width: 98%;
        margin-left: -1px;
    

    }
   
   
    .container-card {
       
        padding: 10px;
        width: 80%;
        margin-top:-40px;
        margin-left: 6px;
        height: 750px;
      
       
        
       
    }
    
    .dashboard{
        margin-left: 22px;
        width: 100%;
       }


    .cards-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .card {
   
        height: 190px;
      
        
    }
    .card img{
        height: 85px;
    }
    

    body{
        overflow-y: scroll;
    }
    #page-loader img {
        margin-left: 25px;
    }
    #loader-text{
        margin-top: -750px;
    }
    #card2{
        width: 210px;
        margin-left: 14px;
        height: 190px;
     margin-top: -3px;
    }
    #card3{
        width: 210px;
        margin-left: 14px;
        height: 190px;
        margin-top: -13px;
    }
    #card2 img{
        margin-top:22px;
    }
    #card3 img{
        margin-top:-10px;
        height: 140px;
    }
        
}
@media only screen and (width: 430px) {
    .navbar {
        height: 80px;
        padding: 5px 15px; 
        display: flex;
        flex-direction: column;
        width: 100%;
        
    

    }
    
    .container-card {
       
        padding: 10px;
        width: 100%;
        margin-top: 600px;
        margin-left: 5px;
      
        
       
    }

    .cards-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 81%;
         margin-left: 18px;
    }
    body{
        overflow-y: scroll;
    }
    #page-loader img {
        margin-left: 25px;
    }
    #loader-text{
        margin-top: -750px;
    }
        
}