body {
    height: 100vh;
    margin: 20px;
    box-sizing: border-box;
    align-content: center;
    /* background: linear-gradient(to right bottom, #78A7DD, #9662BB); */
    overflow-y: hidden;
    background-color: white;
}

.container {

    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    margin: 0 auto;
    height: 450px;
    margin-top: 40px;
    /* border: 1px solid red; */
   
}
.navbar {
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    border-bottom: 2px solid #ddd;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 0px 0px 8px 8px;
    margin-top: -80px;
    width: 103%;
    margin-left: -20px;
   
  }
  
  .navbar h2 {
    margin: 0;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
  }

.row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 73px;
}

.row label {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.row select,
.additional-tasks select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 159px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9662BB;
    outline: none;
}

.row select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

.additional-tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.task-pair {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#addedTasks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    /* border: 2px+ solid rgb(55, 255, 0); */
    height:200px;
    overflow-y: scroll;

}
/* #addedTasks::-webkit-scrollbar{
    display: none;
} */
#addedTasks .task-row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 196px;
}

.row #selectDate {
    color: #9662BB;
}

.row #selectDate:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

#addedTasks .task-row select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 151px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9662BB;
}

#addedTasks .task-row select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

.input-1 {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 138px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 279px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9662BB;
}

::placeholder {
    color: #9d5dd2d8;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input-1:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

.remove-task {
    cursor: pointer;
    font-size: 10px;
    color: red;
    margin-top: 10px;
    margin-left: -9px;
}

.remove-task:hover {
    transform: scale(1.2);
}

.input-2 {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 138px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 73px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9662BB;
}

.input-2:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

button {
    background: linear-gradient(to right bottom, #78A7DD, #9662BB);
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    font-style: normal;
   
}

.container h1 {
    margin-left: 428px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9662BB;
}

#submitbutn {
    height: 40px;
    width: 110px;
   
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    margin-top: 36px;
    margin-left: 30rem;
}

#datelabel {
    width: 110px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

#preloader img {
    width: 100px;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: -100px;
}

#preloader p {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #9662BB;
    font-weight: bold;
    margin-left: -100px;
}

#preloader.submit-loader img {
    content: url('../assests/Hourglass.gif');
}

#preloader.refresh-loader img {
    content: url('../assests/preloader1.gif');
}
@media (max-width: 430px) {
    body{
        font-family: 'Poppins', sans-serif;
    }
    .container {
        max-width: 100%;
        padding: 15px;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
    }
    #datelabel {
        margin-left: -250px;
    }

    .row {
        flex-direction: column;
        margin: 20px auto;
    }
    body{
        overflow-x: hidden;
    }
    .navbar{
        width: 114%;
        margin-top: -110px;
     
    }

    .row label,
    .row select,
    .row input
     {
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }
    .row button{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    #addedTasks .task-row {
        flex-direction: column;
        margin: 15px 0;
    }

    .input-1,
    .input-2 {
        width: 68%;
        margin: 10px 0;
        margin-left: -10px;
    }
    .input-2 {
        width: 68%;
        margin: 10px 0;
        margin-left: -10px;
        margin-top: -4px;
    }

    #addedTasks .task-row select {
        width: 72%;
        margin-left: -11px;
        margin-top: -10px;
    }

    button,
    #submitbutn {
        width: 100%;
        margin: 10px 0;
    }
   
    .remove-task{
        margin-top: -58px;
        margin-left: 298px;
    }
    #preloader img{
        margin-left: -28px;
        margin-top: -70px;
    }
    #preloader p{
        margin-left: -21px;
    }
    #addedTasks{
        height: 150px;
    }
}

@media (max-width: 412px) {
    body{
        font-family: 'Poppins', sans-serif;
    }
    .container {
        max-width: 100%;
        padding: 10px;
        height: auto;
        margin: 0 auto;
        margin-top: 25px;
    }

    .row {
        flex-direction: column;
        margin: 20px auto;
    }
     .navbar{
        width: 114%;
        margin-top: -140px;
     
    }
    .row button{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }


    .row label,
    .row select,
    .row input
    {
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    #addedTasks .task-row {
        flex-direction: column;
        margin: 10px 0;
    }

    .input-1,
    .input-2 {
        width: 68%;
        margin: 10px 0;
        margin-left: -10px;
    }

    #addedTasks .task-row select {
        width: 100%;
    }

    button,
    #submitbutn {
        width: 100%;
        margin: 10px 0;
    }

    #preloader, #preloader p, #preloader img {
        margin: 0;
        align-items: center;
        text-align: center;
    }

    
}
