*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start of nav bar  */
.navbar{
    width: 100%;
    height: 10vh;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 5px gainsboro;
}
.logocont{
    width: 12%;
    height: 100%;
    color: #8689CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logocont h1{
    color: #8689CE;
}
.searchcont{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
.searchbar {
    position: relative;
    width: 65%;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    color: #7a7cbd;
    transform: translateY(-50%);
  }

  .search-input {
    width: 100%;
    padding: 7px 40px 6px 20px;
    border: 1px solid #a9aae4;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
  }

.notification{
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification .imgCont{
    width: 29%;
    height: 80%;
    border: 1px solid;
    border-radius: 50%;
}
/* End of nav bar  */

/* Aside bar  */


.sidebar {
    position: fixed;
    left: 0;
    top: 10.2vh;
    height: 100%;
    width: 17%;
    background-color: #333;
    padding-top: 20px;
    box-shadow: 2px 2px 5px gainsboro;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 15px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .sidebar li i{
    margin-right: 10%;
  }

  .sidebar li:hover {
    background-color: #838181;
  }

  .sidebar li.active {
    background-color: #8689CE;
  }



/*End of Aside bar  */


/* Start of main section */
  
.mainCont {
    margin-left: 17%;
    padding: 20px;
    height: 100%;
    background-color: #F7F8FA;
    /* border: 1px solid; */
  }
  .innerheader{
    width: 100%;
    height: 8vh;
    background-color: #EFEFEF;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gainsboro;
  }
  .innerheader .leftCont{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .leftCont .imgCont{
    border: 1px solid;
    width: 20%;
    height: 75%;
    border-radius: 50%;
  }
  .innerheader .rightCont{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  
  /* First Section */
  .firstSection {
    margin-top: 15px;
    width: 100%;
    height: 20vh;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
  }
  .firstSection .leftSect{
    width: 49%;
    height: 100%;
  }
  .leftSect .dashboardHome div{
    width: 44%;
  }
  .leftSect .dashboardHome{
    width: 100%;
    height: 40%;
    /* border: 1px solid; */
    background-color: #fff;
    color: #8689CE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 15px gainsboro;
  }
  .sectiondiv{
    width: 100%;
    height: 48%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }
  .sectiondiv .employee,.companies{
    width: 48%;
    height: 95%;
    border-radius: 5px;
  }
  .sectiondiv .employee{
    background-color: #3047BB;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sectiondiv .employee p,h1{
    color: white;
    font-family: sans-serif ;
    margin-left: 10%;
  }
  #icon{
    background-color: white;
    width: 18%;
    border-radius: 5px;
    height: 70%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #3047BB;
  }
  .sectiondiv .companies{
    background-color: #FF8D08;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sectiondiv .companies p,h1{
    color: white;
    font-family: sans-serif ;
    margin-left: 10%;
  }
 
  .firstSection .rightSect{
    width: 49%;
    height: 100%;
  }
  .rightSect .dashboardHome{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
  }
  .rightSect .dashboardHome section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightSect .dashboardHome .admin{
    width: 48%;
    height: 85%;
    background-color: #1666D9;
    border-radius: 5px;
  }
  .rightSect .dashboardHome .employee{
    width: 48%;
    height: 85%;
    background-color: #E4E7EC;
    border-radius: 5px;
  }

  .rightSect .sectiondiv{
    width: 100%;
    height: 48%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }
  .rightSect .sectiondiv section{
    width: 48%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 2px 2px 15px gainsboro;
  }
  .rightSect .sectiondiv .employee{
    background-color: #DC3546;
    box-shadow: 2px 2px 50px gainsboro;
  }
  .rightSect .sectiondiv .companies{
    background-color: #00882E;
  }

  /* End first section */

/* Graph Section */

  .graphSection{
    width: 100%;
    height: 50vh;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .pieCont{
    width: 49%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px gainsboro;
  }
  .pieCont header{
    border-bottom: 1px solid gainsboro;
    height: 15%;
    align-content: center;
    padding-left: 3%;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .barCont header{
    border-bottom: 1px solid gainsboro;
    height: 15%;
    align-content: center;
    padding-left: 3%;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
  #piechart_3d{
    width: 100%;
  }

/* Demo Content */
.programming-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #023047;
  transition: all 400ms ease;
}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.programming-stats .details ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.programming-stats .details ul li {
  font-size: 16px;
  margin: 12px 10px;
  text-transform: uppercase;
}

.programming-stats .details .percentage {
  font-weight: 700;
  color: #e63946;
}
/* Demo content end */


  .barCont{
    width: 49%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px gainsboro;
  }

/* Graph Section End */

  /* End of main section */